.cases_interna { background-image: url(../images/cases/cases.jpg); }

.cases_pagina { /* Perguntas e Respostas */ }

.cases_pagina .icone_igreja { background-position: -349px -1px; min-width: 39px; height: 39px; margin-right: 15px; }

.cases_pagina .icone_ensino { background-position: -348px -44px; min-width: 40px; height: 37px; margin-right: 15px; }

.cases_pagina .icone_lojas { background-position: -394px -3px; min-width: 39px; height: 35px; margin-right: 15px; }

.cases_pagina .icone_saude { background-position: -397px -44px; min-width: 38px; height: 37px; margin-right: 15px; }

.cases_pagina h2 { color: #29aed3; font-size: 30px; font-weight: 400; padding-top: 40px; margin-bottom: 19px; text-align: center; }

.cases_pagina p { font-size: 15px; color: #434b52; margin: 0; line-height: 20px; text-align: center; margin-bottom: 25px; }

.cases_pagina .panel { margin-bottom: 19px; }

.cases_pagina .duvidas h4 a { font-size: 18px; font-weight: 400; align-items: center; color: #1185c4; }

.cases_pagina .duvidas h4 { background: #eeeeee; height: 65px; display: flex; align-items: center; padding-left: 22px; margin-bottom: 0; font-size: 18px; font-weight: 400; color: #1185c4; }

.cases_pagina .iconeDuvidas a { color: #FFF; }

.cases_pagina .panel-body { background: #1185c4; color: #FFF; font-weight: 900; font-size: 19px; padding: 22px 38px; }

.cases_pagina .panel-body ul { list-style: none; padding: 0; }

.cases_pagina .panel-body ul li { padding-bottom: 11px; border-bottom: 2px solid #0f76af; padding-top: 11px; }

.cases_pagina .panel-body ul li:last-child { border: none; padding-bottom: 0; }

.cases_pagina .conteudoDuvidas { padding-top: 0px; }

.cases_pagina .icone_chevron { width: 47px; height: 47px; position: relative; transition: .2s; }

.cases_pagina a.accordion-toggle[aria-expanded="true"] .up { background: url(../images/assets/sprite.png); width: 14px; height: 9px; position: absolute; top: 54%; transform: translate(-50%, -50%); background-position: -56px -60px; right: 17px; }

.cases_pagina a.accordion-toggle[aria-expanded="true"] .panel-heading { border-bottom: none; }

.cases_pagina a.accordion-toggle[aria-expanded="false"] .up, .cases_pagina a.accordion-toggle .up { background: url(../images/assets/sprite.png); width: 14px; height: 9px; position: absolute; top: 54%; transform: translate(-50%, -50%); background-position: -56px -48px; right: 17px; }

.cases_pagina .iconeDuvidas { height: 65px; background: #eee; padding-top: 8px; }

.parceiros { padding-bottom: 50px; }

.parceiros h2 { color: #053870; font-size: 30px; font-weight: 400; padding-top: 45px; margin-bottom: 17px; text-align: center; }

.parceiros img { mix-blend-mode: multiply; width: auto !important; }

.parceiros .slick-slide div { display: flex; justify-content: center; align-items: center; height: 83px; }

.parceiros .slick-slide { min-height: 83px; }

.parceiros .slick-list { margin: 0 74px; }
