@charset "UTF-8";
.suporte_interna { background: url(../images/solucoes_interna/solucoes_interna_header.png) center top no-repeat #8b9dae; background-blend-mode: multiply; }

.suporte_interna svg { margin-bottom: 36px; }

/* Solucao Descrição */
.descricao_page_solucao { background: #FFF; padding-top: 56px; padding-bottom: 48px; }

.descricao_page_solucao .solucao_page_padding_l { padding-right: 35px; }

.descricao_page_solucao .solucao_page_padding_r { padding-left: 60px; }

.descricao_page_solucao h2 { color: #29aed3; font-size: 38px; line-height: 43px; margin-bottom: 73px; font-weight: normal; }

.descricao_page_solucao .cada_caixa_solucao { background: #eeeeee; width: 100%; height: 57px; padding-left: 34px; padding-right: 21px; margin-bottom: 16px; }

.descricao_page_solucao .cada_caixa_solucao h3 { font-size: 18px; font-weight: bold; color: #1185c4; line-height: 17px; margin-bottom: 0; text-transform: uppercase; }

.descricao_page_solucao h4 { font-weight: 800; color: #2eafd1; font-size: 17px; margin-bottom: 29px; line-height: 20px; margin-top: 30px; }

.descricao_page_solucao p { font-size: 15px; line-height: 20px; color: #434b52; }

.descricao_page_solucao a.solucao_info_btn { font-size: 13px; font-weight: bold; margin-top: 63px; }

/* Painel de Gestao */
.painel_gestao { padding-top: 46px; padding-bottom: 46px; background: #eeeeee; }

.painel_gestao h3 { font-size: 28px; font-weight: bold; color: #2eafd1; line-height: 35px; margin-bottom: 23px; }

.painel_gestao p { color: #434b52; font-size: 15px; line-height: 20px; margin-bottom: 33px; }

.painel_gestao .slick-next { right: 0; }

.painel_gestao .slick-prev { left: 0; }

.painel_gestao ul.lista_gestao { padding-left: 21px; }

.painel_gestao ul.lista_gestao li { color: #434b52; font-size: 15px; line-height: 27px; }

.painel_gestao .carousel_slick { text-align: center; width: 350px; margin-left: auto; margin-right: auto; margin-top: 15px; }

.painel_gestao .carousel_slick img { width: inherit !important; }

.painel_gestao .carousel_slick .slick-dots { bottom: -60px; }

.painel_gestao .carousel_slick .slick-dots li button:before { font-family: slick; font-size: 13px; line-height: 20px; position: absolute; top: 0; left: 0; width: 12px; height: 12px; content: '•'; text-align: center; opacity: 1; color: #97d1e1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.painel_gestao .carousel_slick .slick-dots li.slick-active button:before { opacity: 1; color: #ffb500; }

/* Download */
.download_solucao { padding-top: 64px; position: relative; }

.download_solucao:after { position: absolute; width: 100%; height: 464px; background: #16366a; top: 0; z-index: -1; content: ''; }

.download_solucao h2 { color: #FFF; }

.download_solucao .listagem_downloads { margin: 0 63px; }

.download_solucao .down_icone { background-position: -2px -42px; width: 44px; margin-right: 15px; height: 52px; }

.download_solucao h4 { font-weight: bold; font-size: 14px; color: #FFF; letter-spacing: 0.1em; text-transform: uppercase; margin-bottom: 0; }

.download_solucao .compartilhar { position: absolute; top: 0px; right: 63px; z-index: 10; cursor: pointer; }

.download_solucao .compartilhar .abrir_compartilhar { background: #232629eb; padding: 13px; border-radius: 16px; position: absolute; top: 49px; left: -65px; display: none; }

.download_solucao .compartilhar .abrir_compartilhar a { margin-right: 7px; }

.download_solucao .compartilhar .abrir_compartilhar a:last-child { margin-right: 0; }

.download_solucao .compartilhar .abrir_compartilhar::after { content: ''; position: absolute; top: -10px; left: 50%; transform: translateX(-50%); width: 0; height: 0; border-style: solid; border-width: 0 12.5px 12px 12.5px; border-color: transparent transparent #232629eb transparent; }

.download_solucao .compartilhar .compar { background-position: -235px -158px; width: 31px; height: 31px; }

.download_solucao .compartilhar .wp_comp { background-position: -274px -158px; width: 41px; height: 39px; }

.download_solucao .compartilhar .fb_comp { background-position: -322px -158px; width: 40px; height: 40px; }

.download_solucao .compartilhar .mail_comp { background-position: -370px -158px; width: 40px; height: 40px; }

.dentro_video { background: #2cadd0; margin-top: 45px; box-shadow: 0px 24px 59px 0px rgba(51, 58, 69, 0.1); }

.dentro_video img { mix-blend-mode: multiply; }

.dentro_video svg { position: absolute; top: 50%; transform: translateY(-50%) translateX(-50%); left: 50%; }

.diferencial_sol { padding-bottom: 50px; padding-top: 43px; }

.diferencial_sol .dentro_diferencial { background: #eeeeee; padding-left: 35px; padding-top: 16px; padding-bottom: 16px; align-content: center; transition: all .4s; margin-bottom: 20px; }

.diferencial_sol .dentro_diferencial:hover { box-shadow: 0px 24px 59px 0px rgba(51, 58, 69, 0.12); }

.diferencial_sol .dentro_diferencial h4 { text-transform: uppercase; font-size: 18px; font-weight: bold; color: #1185c4; letter-spacing: 0.1em; margin-left: 26px; margin-bottom: 0; display: flex; align-items: center; }

.diferencial_sol .dentro_diferencial .right_i { background-position: -415px -161px; min-width: 34px; height: 34px; }

.dados_est { background: #eeeeee; padding-top: 46px; padding-bottom: 44px; }

.dados_est h3 { font-weight: 900; font-size: 28px; color: #2eafd1; line-height: 37px; padding-top: 26px; text-align: left; margin-bottom: 14px; }

.dados_est p { font-size: 15px; line-height: 20px; color: #434b52; margin-bottom: 0; text-align: left; }

.porque_trabalhar { background: #1185c4; padding-top: 55px; padding-bottom: 54px; }

.porque_trabalhar h2 { font-size: 30px; color: #FFF; font-weight: 400; text-align: center; margin-bottom: 25px; }

.porque_trabalhar h3 { color: #FFF; font-weight: bold; font-size: 21px; margin-bottom: 2px; }

.porque_trabalhar h4 { color: #FFF; font-weight: 300; font-size: 14px; letter-spacing: 0.2em; color: #e0e7f0; text-transform: uppercase; }

.porque_trabalhar p { font-weight: 400; color: #FFF; font-size: 14px; line-height: 19px; font-style: italic; }

.porque_trabalhar img { margin-right: 15px; }

.porque_trabalhar .slick-list { margin: 0 170px; }

.porque_trabalhar .slick-prev { left: 127px; background-position: -194px -70px; }

.porque_trabalhar .slick-next { right: 127px; background-position: -207px -70px; }

.porque_trabalhar .slick-dots li button:before { font-size: 12px; color: #FFF; opacity: 1; }

.porque_trabalhar .slick-dots li.slick-active button:before { opacity: 1; color: #2aa9cd; }

.porque_trabalhar .slick-dots { bottom: -53px; }

.ligamos_voce { padding-top: 36px; padding-bottom: 37px; background-image: url(../images/departamentos_interna/ligamos_voce.jpg); background-repeat: no-repeat; background-position: center top; background-blend-mode: multiply; background-color: #2cadd0; }

.ligamos_voce h2 { font-size: 30px; color: #FFF; font-weight: 400; text-align: center; margin-bottom: 25px; }

.ligamos_voce .formulario_ligamos { padding: 0 256px; }

.ligamos_voce input { font-size: 14px; font-weight: 400; color: #28619b; width: 100%; height: 36px; display: flex; align-items: center; background: #e5eef0; border: 1px solid #dde7ea; padding-left: 17px; margin-bottom: 8px; }

.ligamos_voce input::placeholder { color: #28619b; }

.ligamos_voce button { font-weight: bold; font-size: 13px; color: #FFF; text-transform: uppercase; letter-spacing: 0.05em; display: flex; justify-content: center; align-items: center; width: 148px; height: 35px; border: 0; background: #ffaf00; margin-top: 8px; }

.ligamos_voce button:hover { background: #053870; }

/* Perguntas e Respostas */
.duvidas h4 a { color: #1185c4; font-size: 15px; font-weight: 900; letter-spacing: -0.02em; }

.duvidas h4 { background: transparent; margin-bottom: 0px; font-size: 15px; font-weight: bold; padding: 11px 0px; }

.panel-body { color: #83849b; font-weight: 500; font-size: 15px; padding: 22px 0px; padding-top: 12px; line-height: 18px; margin-top: 2px; letter-spacing: -0.02em; }

.duvidas { padding-top: 75px; padding-bottom: 78px; }

.conteudoDuvidas { padding: 0 22px; padding-top: 0px; }

a.accordion-toggle[aria-expanded="true"] .up { background: url(../images/assets/sprite.png); width: 14px; height: 9px; position: absolute; top: 54%; transform: translate(-50%, -50%); background-position: -56px -60px; right: 17px; }

a.accordion-toggle[aria-expanded="true"] .panel-heading { border-bottom: none; }

a.accordion-toggle[aria-expanded="false"] .up, a.accordion-toggle .up { background: url(../images/assets/sprite.png); width: 14px; height: 9px; position: absolute; top: 54%; transform: translate(-50%, -50%); background-position: -56px -48px; right: 17px; }

.panel-heading { position: relative; border-bottom: 1px solid #f0f0f0; margin-bottom: 5px; align-items: center; }

.duvidas_frequentes { padding-top: 37px; padding-bottom: 50px; }

.duvidas_frequentes h2 { font-size: 30px; color: #053870; font-weight: 400; margin-bottom: 34px; text-align: center; }

.duvidas_frequentes input { width: 552px; height: 35px; display: flex; align-content: center; padding-left: 20px; font-size: 14px; color: #657d95; background: #e5eef0; border: 1px solid #dde7ea; margin-bottom: 11px; }

.duvidas_frequentes button { background-position: -77px -36px; width: 24px; height: 21px; border: none; margin-left: 11px; margin-top: 7px; }

.outras_solucoes { padding-top: 36px; padding-bottom: 50px; background: #eeeeee; }

.outras_solucoes h2 { font-size: 30px; color: #053870; font-weight: 400; text-align: center; margin-bottom: 48px; }

.outras_solucoes p { margin-bottom: 17px !important; }

.cada_solucao { background: #FFF; box-shadow: 1px 1px 7px 2px #0000001c; }

.cada_solucao .imagem_solucao { background: #417ec0; position: relative; }

.cada_solucao .imagem_solucao img { mix-blend-mode: multiply; max-width: 100%; }

.cada_solucao .titulo_solucao { position: absolute; bottom: 14px; left: 0; z-index: 1; width: 100%; }

.cada_solucao .titulo_solucao h3 { font-size: 20px; color: #FFF; line-height: 20px; font-weight: normal; margin-bottom: 0; }

.cada_solucao .titulo_solucao i { margin-right: 13px; }

.cada_solucao .titulo_solucao i.i_ensino { width: 35px; height: 32px; background-position: -104px 0; }

.cada_solucao .titulo_solucao i.i_igrejas { width: 32px; height: 32px; background-position: -143px -1px; }

.cada_solucao .titulo_solucao i.i_lojas { width: 34px; height: 30px; background-position: -177px -2px; }

.cada_solucao .titulo_solucao i.i_saude { width: 32px; height: 32px; background-position: -213px -1px; }

.cada_solucao .botao_solucao { position: absolute; top: 10px; right: 15px; z-index: 2; }

.cada_solucao .botao_solucao .i_dropdown { background-position: -86px 0; width: 17px; height: 10px; cursor: pointer; }

.cada_solucao .botao_solucao .solucao_dropdown { position: absolute; z-index: 4; background: #394149e0; padding-top: 20px; padding-left: 15px; width: 208px; padding-bottom: 15px; display: none; top: 20px; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item { margin-bottom: 10px; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item h4 { font-size: 12px; font-weight: bold; color: #FFF; text-transform: uppercase; margin-bottom: 0; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .icone_solucao { margin-right: 10px; min-width: 21px; display: flex; justify-content: center; align-items: center; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .s_financeiro { width: 16px; height: 19px; background-position: -248px -1px; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .r_financeiro { width: 20px; height: 19px; background-position: -266px 0; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .seguranca { width: 16px; height: 20px; background-position: -291px 0; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .infraestrutura { width: 11px; height: 20px; background-position: -311px 0; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item .conectividades { width: 20px; height: 19px; background-position: -325px -1px; }

.cada_solucao .botao_solucao .solucao_dropdown .drop_item:last-child { margin-bottom: 0; }

.cada_solucao .descricao_solucao { padding-left: 32px; padding-right: 32px; padding-top: 19px; padding-bottom: 38px; }

.cada_solucao .descricao_solucao p { margin-bottom: 0; font-weight: 300; color: #838383; font-size: 14px; line-height: 20px; }

.cada_solucao .descricao_solucao .saiba_mais_solucao { width: 172px; height: 43px; background: #28aace; color: #FFF; text-transform: uppercase; justify-content: center; align-items: center; display: flex; letter-spacing: 0.06em; font-size: 13px; font-weight: 400; margin: 0 auto; }

.cada_solucao .descricao_solucao .saiba_mais_solucao:hover { background: #053870; }

.parceiros { padding-bottom: 50px; }

.parceiros h2 { color: #053870; font-size: 30px; font-weight: 400; padding-top: 45px; margin-bottom: 17px; text-align: center; }

.parceiros img { mix-blend-mode: multiply; width: auto !important; }

.parceiros .slick-slide div { display: flex; justify-content: center; align-items: center; height: 83px; }

.parceiros .slick-slide { min-height: 83px; }

.parceiros .slick-list { margin: 0 74px; }

@media (min-width: 576px) { .modal-dialog { max-width: 879px; margin: 1.75rem auto; } }

.modal .close { color: #29aed3; }

.modal .modal-body { padding: 0 100px; padding-bottom: 53px; }

.modal .modal-body h3 { color: #29aed3; font-size: 30px; font-weight: 400; text-align: center; padding-top: 34px; margin-bottom: 33px; }

.modal .modal-body input { width: 100%; height: 37px; padding-left: 18px; font-size: 14px; color: #28619b; display: flex; align-items: center; margin-bottom: 10px; border: 1px solid #dde7ea; background: #e5eef0; }

.modal .modal-body input::placeholder { color: #28619b; }

.modal .modal-body .solicitar_modal { height: 37px; width: 100%; display: flex; justify-content: center; align-items: center; color: #FFF; letter-spacing: 0.05em; font-weight: bold; text-transform: uppercase; border: 0; background: #ffaf00; }

.modal .modal-body .solicitar_modal:hover { background: #29aed3; }
